<tr>
    <td><%= wine.id%>
    <td><%= link_to wine.wine_name.truncate(25), wine_path(wine.id) %>
    <td><%= wine.winary.winary_name.truncate(20)%></td>
    <td><%= wine.grape.grape_name.truncate(25)%></td>
    <td><%= wine.vintage%></td>
    <td><%= wine.purchase_price %></td>
    <td><%= wine.selling_price%></td>
    <td><%= wine.wine_type%></td>
    <td><%= wine.wholesaler.company_name%></td>
    <% if wine.onlist %>
        <td><%=  "onlist" %></td>
        <% else %>
        <td><%= "" %></td>
    <%end%>
    <td><%= wine.stock%></td>
    
    <td class="is-flex-desctop">
    
        <div class="button is-info">
            <%= link_to edit_wine_path(wine.id), class: "is-size-5" do %>
                <i class="fas fa-edit"></i>
            <% end %>
        </div>

        <div class="button is-dark">
            <%= link_to  copy_wine_path(wine.id), data: { confirm: "コピーしてよろしいですか？", commit: "コピーする", cancel: "やめる", title: "ご確認ください" } , class: "is-size-5" do %>
                <i class="fas fa-copy"></i>
            <% end %>
        </div>

        <div class="button is-danger">
            <%= link_to  wine_path(wine.id),method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } , class: " is-size-5" do %>
                <i class="far fa-trash-alt"></i>
            <% end %>
        </div>

    </td>
</tr> 