<meta http-equiv="refresh" content="30;URL=https://listavin.herokuapp.com/howtos/wine_registration">


<nav class="navbar is-light">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                          <%= image_tag 'logo.png' %>
                          listavin
                        </div>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><%= link_to  "❶店舗登録",  howtos_shop_registration_path %></li>
                                    <li><%= link_to  "❷ワイン登録",  howtos_wine_registration_path %></li>
                                    <li><%= link_to  "❸コピー・削除",  howtos_copy_path %></li>
                                    <li><%= link_to  "❹編集",  howtos_edit_path %></li>
                                    <li><%= link_to  "❺検索",  howtos_search_path %></li>
                                    <li><%= link_to  "❻詳細",  howtos_detail_path %></li>
                                    <li><%= link_to  "❼ワインリスト",  howtos_winelist_path %></li>
                                    <li><%= link_to  "トップページへ戻る",  root_path, class: "button is-outlined is-warning" %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</nav>
<section class="hero is-fullheight is-default is-bold listavin-color">
            
        <div class="hero-body login-hero-body">
            <div>
                <div class="columns">
                    <div class="video">
                        <figure class="howto-image">
                            <video autoplay muted playsinline width= "600" height="400">
                              <source src="https://i.gyazo.com/ed8c0ab03987add7762b763abd65d0d3.mp4" alt="Description">> 
                            </video> 
                         </figure>
                    </div>
                    <%# <div class="video">
                        <figure class="howto-image">
                            <img src="https://i.gyazo.com/358451d53e0e13f43ae165dc5fd4ea83.png" width= "540">
                        </figure>
                    </div> %>
                    <div class="">
                        <h1 class="title is-2 has-text-centered has-text-dark">
                            お店を登録する
                        </h1>
                        <h2 class="is-size-6 lexend  has-text-centered">
                            ワインを登録するための準備
                        </h2>
                        <br>
                        <p class="hannari is-size-6">まずは、お店のアカウントを作成します。と言っても、<br>メールアドレスとパスワードのみで簡単に登録できます。</p>
                        <br>
                        <p class="hannari is-size-6">作成したあとはログインすれば、ご利用できます。</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
            
                        <%= render 'howtos/howto/start_listavin' %>
                    </div>
                </div>
            </div>
        </div>
</section>
<%= render 'wines/index/footer' %>