<nav class="navbar is-light">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                          <%= image_tag 'logo.png' %>
                          listavin
                        </div>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li><%= link_to  "❶店舗登録",  howtos_shop_registration_path %></li>
                                    <li><%= link_to  "❷ワイン登録",  howtos_wine_registration_path %></li>
                                    <li><%= link_to  "❸コピー・削除",  howtos_copy_path %></li>
                                    <li><%= link_to  "❹編集",  howtos_edit_path %></li>
                                    <li><%= link_to  "❺検索",  howtos_search_path %></li>
                                    <li><%= link_to  "❻詳細",  howtos_detail_path %></li>
                                    <li class="is-active"><%= link_to  "❼ワインリスト",  howtos_winelist_path %></li>
                                    <li><%= link_to  "トップページへ戻る",  root_path, class: "button is-outlined is-warning" %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</nav>
<section class="hero is-fullheight is-default is-bold listavin-color">
            
        <div class="hero-body login-hero-body">
            <div>
                <div class="columns">
                    <div class="video">
                        <figure class="howto-image">
                            <video autoplay muted playsinline width= "600" height="400">
                              <source src="https://i.gyazo.com/f40ceabc9c8bb789a3ffc88f63efd065.mp4" alt="Description">> 
                            </video> 
                         </figure>
                    </div>
                    <div class="">
                        <h1 class="title is-2 has-text-centered has-text-dark">
                            ワインリスト
                        </h1>
                        <h2 class="is-size-6 lexend  has-text-centered">
                            データベースと連動した新しいワインリスト
                        </h2>
                        <br>
                        <p class="hannari is-size-6">紙で印刷されたワインリストを使っていると</p>
                        <p class="hannari is-size-6">ヴィンテージが違っていたり、もうなかったり</p>
                        <p class="hannari is-size-6">はたまた、スペルミスや値段が違ったり。</p>
                        <p class="hannari is-size-6">でもレイアウトを変えたり、印刷するのは面倒だったりします。</p>
                        <br>
                        <p class="hannari is-size-6">listavinを使えば、データベースと連動するのでそんな心配はいりません。</p>
                        <br>
                        <p class="hannari is-size-6">在庫がないワインは表示されず、まだ寝かせたいワインは載せないなんてことも。</p>
                        <p class="hannari is-size-6">ストレスフリーなワイン管理を実現できます。</p>
                        <br>
                        <br>
                        <br>

                        <%= render 'howtos/howto/start_listavin' %>

                    </div>
                </div>
            </div>
        </div>

        
</section>
<%= render 'wines/index/footer' %>
