<%= render 'wines/index/navbar' %>

<%= render 'wines/index/notice_alert' %>

  
<%= render 'wines/index/search' %>


<div class="hero is-fullheight">
    <table class="table is-background-info is-hoverable is-fullwidth">
      <%= render 'wines/index/thead' %>

      <tbody>
        <% @results.each do |wine|%>
          <%= render 'wines/index/tbody', wine: wine %>
        <% end %>
        
      
        
      </tbody>
    </table>
    <%# <div class="pagination is-centered is-rounded "><%== pagy_bulma_nav(@pagy) %></div>
</div>


<%= render 'wines/index/footer' %>